.venv

#sensor-app
sensor-app
sensor-app/.venv
sensor-app/.my_commands.sh

#sensor-app-v2
sensor-app-v2/.venv-sensorv2
sensor-app-v2/.my_commands.sh
sensor-app-v2/scripts/__pycache__/
argocd/github-secret.yaml


# stream-sensor-collector
stream-sensor-collector/.venv-stream-collector/
stream-sensor-collector/.my_commands.sh
stream-sensor-collector/scripts/__pycache__/

# weather-api
weather-api/.venv/
weather-api/__pycache__

#argocd path
argocd
argocd/.my_commands.sh

# secrets
.secrets/

# charts
charts/README.md


.*